@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --border-color: #fff;
    --bg-color-1: rgba(210, 224, 251, 0.1);
    --bg-color-2: rgba(86, 73, 183, 0.5);
    --bg-color-3: rgba(0, 17, 115, 0.4);
    --bg-color-4: rgba(158, 136, 255, 0.5);
    --buttons-color: rgba(224, 173, 188, 1);
    --buttons-color-hover: rgba(224, 173, 188, 0.8);
    --btn-border: #E0938B;
    --btn-text-color: #fff;
    --btn-text-hover: rgb(54, 69, 79);
    --alpha-color: #023020;
    --alpha-bg: #7469B6;
    --alpha-border: #8EACCD;
    --text-color: #7469B6;

}

body{
    block-size: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-image: linear-gradient(to right top, #d2e0fb, #c1e5f7, #bce8e9, #c5e8d8, #d7e5ca);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    /* animation: ba-anime 5s linear infinite alternate; */
    /* background-blend-mode: overlay; */
}
@keyframes ba-anime{
    0%{
        background-position: left;
    }

    100%{
        background-position: right;
    }
}
/* ------------ GENERIC BUTTON STYLE -------------------- */

.btn{
    inline-size: 10em;
    block-size: 5em;
    text-align: center;
    background-color: transparent;
    /* border: 1px solid var(--btn-border); */
    border: none;
    /* border-radius: 5px; */
    outline: none;
    cursor: pointer;
    font-size: 12px;
    color: var(--btn-text-color);
    transition: all 0.3s ease-in;
    letter-spacing: 2px;
    /* box-shadow: 0 1px 2px rgb(54, 69, 79); */
    padding: 0;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* .btn:hover{
    background-color: var(--buttons-color-hover);
    color: var(--btn-text-hover);
} */
.start-button, .replay{
    background: url("./assets/button3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cat, .modal-close{
    background: url("./assets/button3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* ------------ HANGMAN IMAGES -------------------- */

.image-container{

    block-size: 16rem;
    inline-size: 12rem;
    display: grid;
    place-items: center;
    /* background-color: aqua; */
}

img{
    block-size: 100%;
    inline-size: 100%;
}

/* ------------ GAME PANEL -------------------- */

.game-container{
    inline-size: 100%;
    min-block-size: 20rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 1px 2px transparent, 0 3px 5px #36454F, 0 5px 6px #36454F;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* position: relative; */

    .containers{
        flex: none;
        inline-size: 100%;
        block-size: 100%;
    }

    .start-screen{
        /* position: absolute; */
        /* inset: 0; */
        background-color: var(--bg-color-1);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5em;
    }

    .selection-screen{
        position: relative;
        background-color: var(--bg-color-1);
        backdrop-filter: blur(5px);

        .selection{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 2px;
        }
    }

    .question-screen{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
        background-color: var(--bg-color-1);
        backdrop-filter: blur(5px);

        h2{
            font-size: 2.5rem;
            padding-block: 1em;
        }

        .selection-buttons{
            inline-size: 70%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 5px;
            flex-wrap: wrap;
            padding-block-end: 1em;

            .selection-btn{
                inline-size: 2.5rem;
                aspect-ratio: 1;
                text-align: center;
                outline: none;
                background-color: transparent;
                border: 1px solid var(--alpha-border);
                color: var(--alpha-bg);
                cursor: pointer;
                font-family: "Madimi One", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
        }
    }

    .end-screen{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        background-color: var(--bg-color-1);

        .lost-image{
            inline-size: 12em;
            /* aspect-ratio: 11em; */
            block-size: 8em;
        }

    }
}

@media (min-width: 500px){
    .image-container{
        block-size: 25rem;
        inline-size: 18.5rem;
    }

    .game-container{
        inline-size: 35rem;
        min-block-size: 30rem;

        .selection-screen{
    
            .selection{
                gap: 8px;
            }
        }

        .question-screen{
            gap: 5px;

            h2{
                padding-block: 0;
            }
        }

        .end-screen{

            gap: 1.5em;
    
            .lost-image{
                inline-size: 12em;
                block-size: 10em;
            }
    
        }
    }

    
}



/* -------------------- DIALOG BOX ----------------------------- */

.dialog-box{

    inline-size: 40rem;
    block-size: 35rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color-1);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* gap: 2em; */
    border-radius: 8px;
    backdrop-filter: blur(10px);

    .modal-inside{
        inline-size: 100%;
        block-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        color: #fff;
    }

    &::backdrop{
        background: rgba(0,0,0,0.5);
    }

    .modal-image{
        inline-size: 10rem;
        block-size: 15rem;
    }

}

.hangman-figure{
    filter: drop-shadow(0 2px 4px #36454F );
}

/* -------------------- SCORE BOX ----------------------------- */

/* .score{
    position: sticky;
    top: 20%;
    right: 10%;
} */